  /* circle.css */
  /* learning circle 한 번에 끝내는 AI 학습체계 */
  /*  */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.learning-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px 0;
}

.learning-circle-inner {
    position: relative;
    width: 902px;
    height: 902px;
}

.circle-main {
    position: absolute;
    width: 100%;
    height: 100%;
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'NanumSquareRound', sans-serif;
    letter-spacing: -0.04em;
    width: 100%;
    z-index: 2;
}

.circle-text h3 {
    font-size: 30px;
    line-height: 60px;
    color: #2340FF;
    margin: 0;
}

.circle-text p {
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    color: black;
    font-weight: 800;
    white-space: nowrap;
}

.circulating {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.circle {
    position: absolute;
    width: 286px;
    height: 286px;
    top: 50%;
    left: 50%;
    margin: -143px 0 0 -143px;
    animation: moveAlongCircle 60s linear infinite;
}

.orange { animation-delay: 0s; }
.pink { animation-delay: -15s; }
.blue { animation-delay: -30s; }
.green { animation-delay: -45s; }

@keyframes moveAlongCircle {
    0% { transform: rotate(0deg) translateX(400px) rotate(0deg); }
    100% { transform: rotate(360deg) translateX(400px) rotate(-360deg); }
}
/*  */