/*  */
/* 미래를 비추는 AI onBook */
/*  */
.course-grid {
    padding: 160px 0;
    background-color: #f0f0f0;
  }
  
  .course-grid__title {
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
    margin-bottom: 40px;
  }
  
  .course-grid__container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-content: center;
  }

.card {
    width: 384px;
    height: 482px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
}

/* .card.active {
    flex: 0 0 350px;
    height: 450px;
} */

.card-content {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.card-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.card h2 {
    text-align: center;
    margin-top: 28px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 800;
    color: #242E64;
}

.card p {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #323232;
    flex-grow: 1;
}

.card .button {
    display: inline-block;
    align-items: center;
    width: 270px;
    height: 50px;
    padding:  12px 20px;
    background-color: white;
    color: #4D46D5;
    text-decoration: none;
    border-radius: 14px;
    border: 1px solid #4D46D5;
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
    margin-bottom: 50px;
}

.card .button:hover {
    background-color: #6200ea;
    color: white;
}

.locked::after {
    content: '🔒';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
}
/* 화살표 보류 */
/* .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 10;
    transition: all 0.3s ease;
}

.arrow-left {
    left: 1px;
}

.arrow-right {
    right: 1px;
} */