/*  */
/* coursegrid.css ::AI데이터 분석입문*/
/*  */
.course-grid {
    padding: 130px 30px;
  }
  
  .course-grid__title {
    font-family: 'NanumRoundEB';
    text-align: center;
    font-size: 34px;
    line-height: 60px;
    font-weight: 800;
    margin-bottom: 40px;
    letter-spacing: -0.04em;
    border: 0.2px solid var(--, #151515);
  }
  
  .course-grid__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-content: center;
  }

.card {
    width: 384px;
    height: 482px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
}

/* .card.active {
    flex: 0 0 350px;
    height: 450px;
} */

.card-content {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.card-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.card h2 {
   font-family: 'NanumRoundEB';
    text-align: center;
    margin-top: 30px;
    font-weight: 800;
    border: 0.2px solid var(--, #151515);
    color: #151515;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.04em;
}

.card p {
    font-family: 'Pretendard';
    text-align: center;
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #323232;
    flex-grow: 1;
    letter-spacing: -0.04em;
}

.card .button {
    font-family: 'Pretendard';
    display: inline-block;
    align-items: center;
    width: 270px;
    height: 50px;
    padding:  12px 20px;
    background-color: white;
    color: #4D46D5;
    text-decoration: none;
    border-radius: 14px;
    border: 1px solid #4D46D5;
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 40px;
    letter-spacing: -0.04em;
}

.card .button:hover {
    background-color: #6200ea;
    color: white;
    font-weight: 800;
}
/* 잠금화면 배경 */
.locked::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
}
/* 잠금화면 png */
.locked::after {
  background-image: url('../images/home/lock.png');
  background-size: 55px 71px;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}

/* Desktop (1200px and below) */
@media screen and (max-width: 1199px) {
    .course-grid__container {
      grid-template-columns: repeat(3, 228px);
      gap: 13px;
      justify-content: center;
  }

   .course-grid__title {
      font-size: 26px;
      line-height: 48px;
      margin-bottom: 30px;
  }
  
  .card {
    width: 229px;
    height: 312px;
}

.card h2 {
  font-size: 18px;}
  .card p {
    font-size: 16px;
    width: 228px;
  height: 37px;}

.card-image {
  width: 227.8px;
    height: 128.14px;
}
.card .button {
  width: 160px;
  height: 30px;
  margin-top: 30px;
  padding: 3px;
  font-size: 16px;
}}

/* Tablet (768px and below) */
@media screen and (max-width: 767px) {
  .course-grid {
      padding: 0;
  }

  .course-grid__container {
    max-width:100%;
      grid-template-columns: repeat(2, 349px);
      gap: 22px;
      padding: 0;
  }
  .course-grid__title {
    font-size: 24px;}

  .card {
      width: 349px;
      height: 444px;
  }

.card h2 {
  margin-top: 46px;
  font-size: 20px;}
  .card p {
    font-size: 16px;
    width: 349px;
  height: 40px;}

.card-image {
  width: 349px;
    height: 196px;
}
.card .button {
  width: 245px;
  height: 46px;
  margin-top: 48px;
  padding: 11px;
  font-size: 16px;
}}

/* Mobile (480px and below) */
@media screen and (max-width: 479px) {
  .course-grid {
    padding: 0;
  }

  .course-grid__container {
    max-width:100%;
      grid-template-columns: 327px;
      gap: 20px;
  }

  .card {
      width: 327px;
      height: 394px;
  }

  .card h2 {
    margin-top: 24px;
    font-size: 20px;}
    .card p {
      font-size: 16px;
      width: 327px;
    height: 40px;}
  
  .card-image {
    width: 327px;
      height: 184px;
  }
  .card .button {
    width: 245px;
    height: 46px;
    margin-top: 38px;
    padding: 11px;
    font-size: 16px;
  }}

@font-face {
  font-family: "NanumEB";
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/NanumSquareEB.woff) format("woff");
}

@font-face {
  font-family: "NanumRoundEB";
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/NanumSquareRoundEB.woff) format("woff");
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* 화살표 보류 */
/* .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 10;
    transition: all 0.3s ease;
}

.arrow-left {
    left: 1px;
}

.arrow-right {
    right: 1px;
} */