  /*  */
  /* learning system 한 번에 끝내는 AI 학습체계 */
  /*  */
.learning-system {
    background: #F6F6F6;
  }
  .learning-system__inner {
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 160px 0;
  }
  .learning-system__title {
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color: #000;
  }
  .learning-system__list {
    margin-top: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
  .learning-system__item {
    padding: 40px;
    width: calc((100% - 48px) / 3);
    background-color: #fff;
    height: 320px;
    border-radius: 10px;
  }
  .learning-system__text p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    padding-top: 21px;
  }
  .learning-system__text span {
    display: inline-block;
    padding-top: 24px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
  }
  /*  */
  /* learning course 한 번에 끝내는 AI 학습코스 */
  /*  */
  .learning-course__inner {
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 160px 0;
  }
  .learning-course__title {
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
  }
  .learning-course__item {
    padding: 0;
    background-color: #4D46D5;
    gap: 10px;
    width: 1250px;
    height: 294px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .learning-course__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .learning-course__text {
    padding: 40px 24px;
    flex: 1;
  }
  
  .learning-course__image {
    width: 280px;
    height: 279px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .learning-course__item img {
    width: 280px;
    height: 279px;
    object-fit: cover;
  }
  
  .learning-course__name {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    margin-bottom: 12px;
  }
  
  .learning-course__desc {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #323232;
    margin-bottom: 24px;
  }
  
  .learning-course__btn {
    background-color: #fff;
    border: 1px solid #4D46D5;
    padding: 7px 23px;
    border-radius: 6px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .learning-course__btn:hover {
    background-color: #F1F1F1;
  }
  /*  */